.jumbotron{
	background-color: orange;
	text-align: center;
}

.container-fluid{
	color: black;
	background-color: orange;
}

.row{
	text-align: center;

}

hr{
	color: green;
	size: 10;
}

.checkbox{
	text-align: center;
}

button{
	text-align: center;
}

h1{
	color: green;
}

h2{
	color: green;
}